<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/pluginform.css">
    <title>Popup with Table</title>

</head>
<body>
<!-- Pridėta lenta -->
<div id="plugin-status" class="plugin-web-form">Login Forma prie plugin</div>
<div class="plugin-btn">
    <button id="activate-plugin" >Activate Plugin</button>
    <button id="deactivate-plugin" >Deactivate Plugin</button>
</div>
<!-- Čia galite įtraukti bet kokius kitus elementus, kurie yra jūsų formoje -->
<!-- Pavyzdžiui, įvesties laukai, checkbox'ai ir kt. -->

<script src="/scripts/formPlugin.js"></script>

</body>
</html>